[Unit]
Description=the BeWaterWise watering index interface
After=network-online.target houseportal.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=50s
Environment="OPTS="
EnvironmentFile=-/etc/default/housecmis
EnvironmentFile=-/etc/sysconfig/housecmis
ExecStart=/usr/local/bin/housecmis $OPTS

[Install]
WantedBy=multi-user.target

