[Unit]
Description=the CIMIS watering index interface
After=network-online.target houseportal.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=50s
Environment="OPTS="
EnvironmentFile=-/etc/default/housecimis
EnvironmentFile=-/etc/sysconfig/housecimis
ExecStart=/usr/local/bin/housecimis $OPTS

[Install]
WantedBy=multi-user.target

